### In order to use the OpenPoliceData (OPD) library, we need to import it. If it does not exist, it must be installed as well.

In [1]:
# User Guide for OpenPoliceData: https://github.com/openpolicedata/openpolicedata
try:
    # Import the OpenPoliceData Python library and call it opd
    import openpolicedata as opd 
except:
    # Install the OpenPoliceData Python library
    %pip install openpolicedata
    # Import the OpenPoliceData Python library and call it opd
    import openpolicedata as opd

### What types of data are available in OPD?

In [8]:
# What types of data are available in OPD?
# head(x) shows the first x rows. Remove the .head(x) to show the entire table
# Show the first 20 rows of the table types summary table
opd.datasets.summary_by_table_type().head(19)

,Total,Definition
TableType,,
STOPS,,
TRAFFIC STOPS (Only),68,Traffic stops are stops by police of motor veh...
STOPS (All),34,Contains data on both pedestrian and traffic s...
PEDESTRIAN STOPS (Only),4,Stops of pedestrians based on 'reasonable susp...
CALLS FOR SERVICE,41,Includes dispatched calls (911 or non-emergenc...
INCIDENTS,33,Crime incident reports
USE OF FORCE,,
Single Table,,
USE OF FORCE,25,Documentation of physical force used against c...
Multiple Tables,,
USE OF FORCE - INCIDENTS,3,Use of force data may be split into several ta...
USE OF FORCE - CIVILIANS,3,Use of force data may be split into several ta...
USE OF FORCE - OFFICERS,2,Use of force data may be split into several ta...
USE OF FORCE - CIVILIANS/OFFICERS,1,Use of force data may be split into several ta...
ARRESTS,,
ARRESTS (All),21,Seizures or forcible restraints by police
TRAFFIC ARRESTS (Only),2,Traffic stops leading to an arrest.
PEDESTRIAN ARRESTS (Only),1,Pedestrian stops leading to an arrest
OFFICER-INVOLVED SHOOTINGS,,

### Finding Data

In [15]:
# Get all the datasets available in OPD
# datasets and all the other tables in this notebook are a data type called a DataFrame from the pandas libary
# pandas is a powerful Python library for analyzing tabular data
# It has many other capabilities than what is shown in this Notebook
# If you don't know how to do something with a table, usually it can be found by an internet search 
# for python pandas + what you are trying to do
datasets = opd.datasets.query()

print(f"There are {opd.datasets.num_unique()} datasets available in OPD")
startrow = 200
num_rows = 3
# Putting an f in front of a string allows the parts in braces {} to be replaced by their result of what's in the braces
print(f"Rows {startrow} to {startrow+num_rows-1} of the datasets table are:")
datasets.iloc[startrow:startrow+num_rows]

There are 365 datasets available in OPD
Rows 200 to 202 of the datasets table are:

,State,SourceName,Agency,AgencyFull,TableType,coverage_start,coverage_end,last_coverage_check,Description,source_url,readme,URL,Year,DataType,date_field,dataset_id,agency_field,min_version
200,Connecticut,Connecticut,MULTIPLE,NaN,TRAFFIC STOPS,2013-10-01,2018-12-31,05/15/2023,The Institute for Municipal and Regional Polic...,https://data.ct.gov/Public-Safety/Traffic-Stop...,https://data.ct.gov/api/views/nahi-zqrt/files/...,data.ct.gov/,MULTIPLE,Socrata,interventiondatetime,nahi-zqrt,department_name,<NA>
201,Connecticut,Hartford,Hartford,Hartford Police Department,TRAFFIC STOPS,2013-10-13,2016-09-29,05/15/2023,Standardized stop data from the Stanford Open ...,https://openpolicing.stanford.edu/data/,https://github.com/stanford-policylab/opp/blob...,https://stacks.stanford.edu/file/druid:yg821jf...,MULTIPLE,CSV,date,<NA>,<NA>,<NA>
202,Connecticut,Norwich,Norwich,Norwich Police Department,USE OF FORCE,2017-01-01,2017-12-31,05/15/2023,<NA>,https://www.norwichct.org/847/Police-Use-of-Force,<NA>,https://www.norwichct.org/ArchiveCenter/ViewFi...,2017,Excel,<NA>,<NA>,<NA>,0.3.1

### If we are interested in traffic stops tables, we can query for what traffic stops tables are available

In [23]:
table_name = "TRAFFIC STOPS"
datasets = opd.datasets.query(table_type=table_name)
numrows = 3
print(f"The last {numrows} rows of {table_name} tables are:")
datasets.tail(numrows)

The last 3 rows of TRAFFIC STOPS tables are:

,State,SourceName,Agency,AgencyFull,TableType,coverage_start,coverage_end,last_coverage_check,Description,source_url,readme,URL,Year,DataType,date_field,dataset_id,agency_field,min_version
872,Wisconsin,Madison,Madison,Madison Police Department,TRAFFIC STOPS,2007-09-28,2020-06-16,05/15/2023,Standardized stop data from the Stanford Open ...,https://openpolicing.stanford.edu/data/,https://github.com/stanford-policylab/opp/blob...,https://stacks.stanford.edu/file/druid:yg821jf...,MULTIPLE,CSV,date,<NA>,<NA>,<NA>
874,Wisconsin,State Patrol,State Patrol,NaN,TRAFFIC STOPS,2010-01-01,2016-05-16,05/15/2023,Standardized stop data from the Stanford Open ...,https://openpolicing.stanford.edu/data/,https://github.com/stanford-policylab/opp/blob...,https://stacks.stanford.edu/file/druid:yg821jf...,MULTIPLE,CSV,date,<NA>,<NA>,<NA>
875,Wyoming,State Patrol,State Patrol,NaN,TRAFFIC STOPS,2011-01-01,2012-12-31,05/15/2023,Standardized stop data from the Stanford Open ...,https://openpolicing.stanford.edu/data/,https://github.com/stanford-policylab/opp/blob...,https://stacks.stanford.edu/file/druid:yg821jf...,MULTIPLE,CSV,date,<NA>,<NA>,<NA>

### Now let's find only traffic stops tables from Kentucky

In [27]:
state_name = "Kentucky"
datasets = opd.datasets.query(state=state_name, table_type=table_name)
print(f"There are {len(datasets)} {table_name} datasets in {state_name}:")
datasets

There are 4 TRAFFIC STOPS datasets in Kentucky:

,State,SourceName,Agency,AgencyFull,TableType,coverage_start,coverage_end,last_coverage_check,Description,source_url,readme,URL,Year,DataType,date_field,dataset_id,agency_field,min_version
396,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2009-01-01,2021-12-31,05/15/2023,The data includes vehicle stops. Not included ...,https://data.louisvilleky.gov/datasets/LOJIC::...,<NA>,https://services1.arcgis.com/79kfd2K6fskCAkyg/...,MULTIPLE,ArcGIS,ACTIVITY_DATE,<NA>,<NA>,<NA>
397,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2021-01-01,2021-12-31,05/15/2023,<NA>,https://data.louisvilleky.gov/datasets/LOJIC::...,<NA>,https://services1.arcgis.com/79kfd2K6fskCAkyg/...,2021,ArcGIS,<NA>,<NA>,<NA>,<NA>
398,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2022-01-01,2022-12-31,05/15/2023,<NA>,https://data.louisvilleky.gov/datasets/LOJIC::...,<NA>,https://services1.arcgis.com/79kfd2K6fskCAkyg/...,2022,ArcGIS,<NA>,<NA>,<NA>,<NA>
399,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2023-01-01,2023-12-31,05/15/2023,<NA>,https://data.louisvilleky.gov/datasets/LOJIC::...,<NA>,https://services1.arcgis.com/79kfd2K6fskCAkyg/...,2023,ArcGIS,<NA>,<NA>,<NA>,<NA>

### Let's load data for Louisville for the most recent full year (2022)

First, we need to create a source for Louisiville

In [44]:
# The state input is optional and only required if multiple sources from different states 
# have the same name (such as cities with the different name in multiple states)
source_name = "Louisville"
state = "Kentucky"
src = opd.Source(source_name, state=state)

table_type_col = src.datasets["TableType"]
print(f"{source_name} has {len(src.datasets)} datasets across {len(table_type_col.unique())} tables:")
print(table_type_col.unique())

nrows = 5
ncols = 7
print(f"The 1st {ncols} columns of the last {nrows} {source_name} datasets are:") 
src.datasets.iloc[-nrows:, 0:ncols]

Louisville has 31 datasets across 4 tables:
['CITATIONS' 'EMPLOYEE' 'INCIDENTS' 'TRAFFIC STOPS']
The 1st 7 columns of the last 5 Louisville datasets are:

,State,SourceName,Agency,AgencyFull,TableType,coverage_start,coverage_end
395,Kentucky,Louisville,Louisville,Louisville Metro Police Department,INCIDENTS,2023-01-01,2023-12-31
396,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2009-01-01,2021-12-31
397,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2021-01-01,2021-12-31
398,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2022-01-01,2022-12-31
399,Kentucky,Louisville,Louisville,Louisville Metro Police Department,TRAFFIC STOPS,2023-01-01,2023-12-31

If we look at coverage_start and coverage_end, we can see that the 2022 traffic stops data that we wanted to analyze is in the 2nd to last row and its row label is 398.

Let's look at all the information for that dataset

In [84]:
# Up until now, we can been indexing by row # or position using iloc. 
# (There are 31 datasets for Louisville so the 0-based row # would be 29.)
# To index by the row label, use loc instead
src.datasets.loc[398]

State                                                           Kentucky
SourceName                                                    Louisville
Agency                                                        Louisville
AgencyFull                            Louisville Metro Police Department
TableType                                                  TRAFFIC STOPS
coverage_start                                       2022-01-01 00:00:00
coverage_end                                         2022-12-31 00:00:00
last_coverage_check                                           05/15/2023
Description                                                         <NA>
source_url             https://data.louisvilleky.gov/datasets/LOJIC::...
readme                                                              <NA>
URL                    https://services1.arcgis.com/79kfd2K6fskCAkyg/...
Year                                                                2022
DataType                                                          ArcGIS
date_field                                                          <NA>
dataset_id                                                          <NA>
agency_field                                                        <NA>
min_version                                                         <NA>
Name: 398, dtype: object

The main information of interest that we have not previously examined are the URLs:
1. source_url: Location of main data page if you want to see what other information is on the data website
2. readme: Location of the data dictionary if it (A) exists and (B) is not directly on the main data page
3. URL: URL used by OPD to directly access the data

In this case, the 2022 Louisville Traffic Stops data has a data dictionary at the source_url (*NOTE: if you click on the source_url, it tries to open it with a JupyterLab browser and cannot find it. The URL is fine and can be opened using a standard browser*)

Now, let's load the data

In [49]:
year = 2022
table_type = "TRAFFIC STOPS"
t = src.load_from_url(year, table_type=table_type)
# Backup if need to load locally
# t = src.load_from_csv(year, table_type=table_type)

print(f"The dataset has {len(t.table)} records")

The dataset has 28082 records

Find the names of the columns

In [50]:
print("The columns are")
t.table.columns

The columns are

Index(['TYPE_OF_STOP', 'CITATION_CONTROL_NUMBER', 'ACTIVITY_RESULTS',
       'OFFICER_GENDER', 'OFFICER_RACE', 'OFFICER_AGE_RANGE', 'ACTIVITY_DATE',
       'ACTIVITY_TIME', 'ACTIVITY_LOCATION', 'ACTIVITY_DIVISION',
       'ACTIVITY_BEAT', 'DRIVER_GENDER', 'DRIVER_RACE', 'DRIVER_AGE_RANGE',
       'NUMBER_OF_PASSENGERS', 'WAS_VEHCILE_SEARCHED', 'REASON_FOR_SEARCH',
       'ObjectId'],
      dtype='object')

In [53]:
# Preview the data
t.table.head()

,TYPE_OF_STOP,CITATION_CONTROL_NUMBER,ACTIVITY_RESULTS,OFFICER_GENDER,OFFICER_RACE,OFFICER_AGE_RANGE,ACTIVITY_DATE,ACTIVITY_TIME,ACTIVITY_LOCATION,ACTIVITY_DIVISION,ACTIVITY_BEAT,DRIVER_GENDER,DRIVER_RACE,DRIVER_AGE_RANGE,NUMBER_OF_PASSENGERS,WAS_VEHCILE_SEARCHED,REASON_FOR_SEARCH,ObjectId
0,COMPLAINT/CRIMINAL VIOLATION,DU03293,CITATION ISSUED,M,WHITE,21 - 30,01/02/2022,21:44,M ST ...,4TH DIVISION,BEAT 4,M,WHITE,26 - 30,2,YES,0,1
1,COMPLAINT/CRIMINAL VIOLATION,DV75866,CITATION ISSUED,M,WHITE,51 - 60,07/21/2022,02:00,KEEGAN WAY ...,7TH DIVISION,BEAT 1,M,HISPANIC,16 - 19,1,YES,4,2
2,COMPLAINT/CRIMINAL VIOLATION,DV87754,CITATION ISSUED,M,WHITE,51 - 60,07/21/2022,02:00,KEEGAN WAY ...,7TH DIVISION,BEAT 1,M,HISPANIC,16 - 19,1,NO,0,3
3,COMPLAINT/CRIMINAL VIOLATION,DW19051,CITATION ISSUED,M,WHITE,21 - 30,01/25/2022,11:23,4500 BLOCK SOUTHERN PKWY,4TH DIVISION,BEAT 6,M,WHITE,20 - 25,0,YES,4,4
4,COMPLAINT/CRIMINAL VIOLATION,DX65321,CITATION ISSUED,M,WHITE,31 - 40,01/13/2022,05:30,PRESTON HWY @ OUTER LOOP ...,7TH DIVISION,BEAT 6,M,WHITE,51 - 60,1,YES,3,5

## How to sort pandas DataFrames

In [56]:
# Sort the data by date and time
df_sorted = t.table.sort_values(["ACTIVITY_DATE","ACTIVITY_TIME"])
df_sorted.head()

,TYPE_OF_STOP,CITATION_CONTROL_NUMBER,ACTIVITY_RESULTS,OFFICER_GENDER,OFFICER_RACE,OFFICER_AGE_RANGE,ACTIVITY_DATE,ACTIVITY_TIME,ACTIVITY_LOCATION,ACTIVITY_DIVISION,ACTIVITY_BEAT,DRIVER_GENDER,DRIVER_RACE,DRIVER_AGE_RANGE,NUMBER_OF_PASSENGERS,WAS_VEHCILE_SEARCHED,REASON_FOR_SEARCH,ObjectId
1026,TRAFFIC VIOLATION,DX80129,CITATION ISSUED,M,WHITE,31 - 40,01/01/2022,03:31,1500 BLOCK HASKIN AVE,4TH DIVISION,BEAT 5,M,BLACK,41 - 50,0,YES,4,1027
954,TRAFFIC VIOLATION,DX93178,CITATION ISSUED,M,WHITE,51 - 60,01/01/2022,11:05,8700 BLOCK BLUE LICK RD,7TH DIVISION,BEAT 6,M,BLACK,OVER 60,2,NO,0,955
592,TRAFFIC VIOLATION,DX65439,CITATION ISSUED,M,WHITE,31 - 40,01/01/2022,16:56,S 9TH ST/ W BROADWAY ...,1ST DIVISION,BEAT 3,M,BLACK,26 - 30,0,YES,1,593
485,TRAFFIC VIOLATION,DX76677,CITATION ISSUED,M,WHITE,41 - 50,01/01/2022,18:11,BARDSTOWN RD ...,7TH DIVISION,BEAT 1,M,WHITE,OVER 60,0,NO,0,486
605,TRAFFIC VIOLATION,DX68313,CITATION ISSUED,M,WHITE,21 - 30,01/01/2022,19:56,W MAIN ST/ N. 42ND ST ...,2ND DIVISION,BEAT 1,M,BLACK,26 - 30,0,YES,4,606

### How to filter pandas DataFrames

In [58]:
# Filter for cases where the officer gender is female and the type of stop is NOT a traffic violation
df_filtered = t.table[t.table["OFFICER_GENDER"]=="F"]
df_filtered = df_filtered[df_filtered["TYPE_OF_STOP"]!="TRAFFIC VIOLATION"]
df_filtered.head()

,TYPE_OF_STOP,CITATION_CONTROL_NUMBER,ACTIVITY_RESULTS,OFFICER_GENDER,OFFICER_RACE,OFFICER_AGE_RANGE,ACTIVITY_DATE,ACTIVITY_TIME,ACTIVITY_LOCATION,ACTIVITY_DIVISION,ACTIVITY_BEAT,DRIVER_GENDER,DRIVER_RACE,DRIVER_AGE_RANGE,NUMBER_OF_PASSENGERS,WAS_VEHCILE_SEARCHED,REASON_FOR_SEARCH,ObjectId
26,COMPLAINT/CRIMINAL VIOLATION,DZ30572,CITATION ISSUED,F,WHITE,21 - 30,03/29/2022,21:50,100 BLOCK OUTER LOOP,3RD DIVISION,BEAT 3,F,BLACK,16 - 19,1,NO,0,27
45,COMPLAINT/CRIMINAL VIOLATION,EC69215,CITATION ISSUED,F,WHITE,31 - 40,08/22/2022,10:25,FEGENBUSH LN/ BARDSTOWN RD ...,6TH DIVISION,BEAT 4,M,BLACK,26 - 30,1,YES,4,46

### Pivot tables
There are a variety of ways to do pivot tables with pandas. Let's review a couple useful ones.

In [60]:
# value_counts is very powerful whenever you want to know how many of something there are
t.table.value_counts("DRIVER_RACE")

DRIVER_RACE
WHITE              15893
BLACK               9585
HISPANIC            2087
ASIAN                337
AMERICAN INDIAN       21
Name: count, dtype: int64

You can also breakdown by multiple fields and return proportions rather than counts

In [70]:
t.table.value_counts(["DRIVER_GENDER","DRIVER_RACE"],normalize=True)

DRIVER_GENDER  DRIVER_RACE
M              WHITE              0.355227
               BLACK              0.214125
F              WHITE              0.213945
               BLACK              0.129141
M              HISPANIC           0.058697
F              HISPANIC           0.016044
M              ASIAN              0.008165
F              ASIAN              0.003904
M              AMERICAN INDIAN    0.000573
F              AMERICAN INDIAN    0.000179
Name: proportion, dtype: float64

Often, it is looks better to make the 2nd variable into a column
This can be done with unstack
Let's also round to 3 decimal places and convert to percentages by multiplying by 100

In [71]:
t.table.value_counts(["DRIVER_GENDER","DRIVER_RACE"],normalize=True).unstack().round(3)*100

DRIVER_RACE    AMERICAN INDIAN  ASIAN  BLACK  HISPANIC  WHITE
DRIVER_GENDER
F                          0.0    0.4   12.9       1.6   21.4
M                          0.1    0.8   21.4       5.9   35.5

Although there is not a lot of numerical columns in police data to perform statistics other than counts on, if you want to apply a different statistic to each group, you can use groupby. 

There are only 3 numerical columns in the Louisville traffic stops data
Reason for search values are categories and the ObjectId is a database ID # so taking there means are meaningless
The mean # of passengers could be interesting if people of one race/age/gender are more likely to be pulled over when they have passengers in the car.

In [80]:
# (numeric_only being True only applies the mean function to numerical categories)
t.table.groupby(["DRIVER_GENDER","DRIVER_RACE"]).mean(numeric_only=True)

                               NUMBER_OF_PASSENGERS  REASON_FOR_SEARCH
DRIVER_GENDER DRIVER_RACE
F             AMERICAN INDIAN              0.200000           0.000000  \
              ASIAN                        0.422018           0.073394
              BLACK                        0.363561           0.092346
              HISPANIC                     0.410714           0.026786
              WHITE                        0.257114           0.052561
M             AMERICAN INDIAN              0.562500           0.000000
              ASIAN                        0.359649           0.017544
              BLACK                        0.347383           0.318782
              HISPANIC                     0.450275           0.073826
              WHITE                        0.247202           0.080653

                                   ObjectId
DRIVER_GENDER DRIVER_RACE
F             AMERICAN INDIAN  13461.400000
              ASIAN            13456.229358
              BLACK            14258.083749
              HISPANIC         14207.636161
              WHITE            13727.635588
M             AMERICAN INDIAN  15903.062500
              ASIAN            14066.276316
              BLACK            14045.941964
              HISPANIC         14947.199512
              WHITE            13997.009376

## Now, let's analyze search rates by looking at how often police search people of different races after they have been stopped

In [83]:
# Let's remind ourselves of what columns are available
t.table.columns

Index(['TYPE_OF_STOP', 'CITATION_CONTROL_NUMBER', 'ACTIVITY_RESULTS',
       'OFFICER_GENDER', 'OFFICER_RACE', 'OFFICER_AGE_RANGE', 'ACTIVITY_DATE',
       'ACTIVITY_TIME', 'ACTIVITY_LOCATION', 'ACTIVITY_DIVISION',
       'ACTIVITY_BEAT', 'DRIVER_GENDER', 'DRIVER_RACE', 'DRIVER_AGE_RANGE',
       'NUMBER_OF_PASSENGERS', 'WAS_VEHCILE_SEARCHED', 'REASON_FOR_SEARCH',
       'ObjectId'],
      dtype='object')

There are 2 columns related to searches:
1. WAS_VEHCILE_SEARCHED (Notice vehicle is spelled wrong in the column name...)
2. REASON_FOR_SEARCH

*Note that there is only data related to searches of vehicles, not searches of persons.*

According to the data dictionary at the source URL, WAS_VEHCILE_SEARCHED is "Yes or No whether the vehicle was searched at the time of the stop" and REASON_FOR_SEARCH is "if the vehicle was searched, the reason the search was done, please see codes below".

- CONSENT: 1
- TERRY STOP OR PAT DOWN = 2
- INCIDENT TO ARREST = 3
- PROBABLE CAUSE = 4
- OTHER = 5

**We can use WAS_VEHCILE_SEARCHED to calculate search rates**

In [110]:
# Let's first get the counts for how often each was race was searched
# fill_value indicates what value to enter if any combination of WAS_VEHCILE_SEARCHED and DRIVER_RACE has no instances
counts = t.table.value_counts(["WAS_VEHCILE_SEARCHED","DRIVER_RACE"]).unstack(fill_value=0)
counts

DRIVER_RACE           AMERICAN INDIAN  ASIAN  BLACK  HISPANIC  WHITE
WAS_VEHCILE_SEARCHED
NO                                 21    334   8822      2040  15450
YES                                 0      3    763        47    443

The equation for search rate is:

$$
\text{Search Rate (\%)} = \frac{\text{\# of Searches}}{\text{Total \# of Stops}} x 100
$$

In our counts variable, the sum of each column is the total # of stops for a group and the row labeled YES is the number of searches

In [96]:
# Calculate 
search_rate = counts.loc["YES"] / counts.sum() * 100
search_rate.round(2)

DRIVER_RACE
AMERICAN INDIAN    0.00
ASIAN              0.89
BLACK              7.96
HISPANIC           2.25
WHITE              2.79
dtype: float64

**We can also look at search rate broken down by the reason for search.**

In [111]:
counts = t.table.value_counts(["WAS_VEHCILE_SEARCHED","REASON_FOR_SEARCH","DRIVER_RACE"]).unstack(fill_value=0)
search_rate = counts.loc["YES"] / counts.sum() * 100

search_rate.round(2)

DRIVER_RACE        AMERICAN INDIAN  ASIAN  BLACK  HISPANIC  WHITE
REASON_FOR_SEARCH
0                              0.0   0.00   1.74      0.62   0.69
1                              0.0   0.00   0.48      0.05   0.43
3                              0.0   0.00   0.14      0.05   0.12
4                              0.0   0.89   5.54      1.49   1.55
5                              0.0   0.00   0.06      0.05   0.01

Note that 0 is not a valid reason for search code but it is used fairly frequently, which may indicate when officers are not filling in the reason for the search.

We can rename the reason for search codes to be clearer

In [115]:
# This is a dictionary (coded as {key1:value1, key2:value2, ...} )
# code2text[key] will output the value corresponding to that key (i.e. code2text[5]
code2text = {1:"CONSENT", 2:"TERRY STOP OR PAT DOWN", 3:"INCIDENT TO ARREST", 4:"PROBABLE CAUSE", 5:"OTHER"}

# Rename the row labels (index) using the dictionary code2text
search_rate = search_rate.rename(index=code2text)
search_rate.round(2)

DRIVER_RACE         AMERICAN INDIAN  ASIAN  BLACK  HISPANIC  WHITE
REASON_FOR_SEARCH
0                               0.0   0.00   1.74      0.62   0.69
CONSENT                         0.0   0.00   0.48      0.05   0.43
INCIDENT TO ARREST              0.0   0.00   0.14      0.05   0.12
PROBABLE CAUSE                  0.0   0.89   5.54      1.49   1.55
OTHER                           0.0   0.00   0.06      0.05   0.01